<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='/static/style.css' />
		<title>Urhobo Dictionary</title>
	</head>
	
	<body>
		{% include  'header.html' %}
		<main>
		 {% include  'form.html' %}
		 
		 <section>
			<p>
				Urhobo is a language primarily spoken by the Urhobo people of southernn Nigeria. However, despite being the 5th largest ethnic group in the country, there are very few online resourcese to learn the language.</br>The Urhobo - English Dictionary was written by Anthony Obakpọnọvwẹ Ukere
				B.A. (HONS) Linguistics (UNIBEN), ANIPR and is one of the most (and only) comprehensive resources for beginners looking to learn Urhobo.		
			</p>
			
			<blockquote cite="/urhobo-dictionary.pdf">
				The present Urhobo dictionary was locally published in Nigeria, printed by Ilupeju Press, Benin City. The
				original is not dated, but the preface is dated 1986, so perhaps this is the date of publication. It was typed
				into the computer, originally into Macintosh and later transferred to PC at the behest of Kay Williamson (†)
				who has some role in encouraging it s original publication.
				<cite>Rodger Blench</cite>
			</blockquote>
			
			<p>
				<h2>Sources</h2>
				<ul>
					<li>URHOBO - ENGLISH DICTIONARY - by Anthony Obakpọnọvwẹ Ukere - B.A. (HONS) Linguistics (UNIBEN), ANIPR</li>
					<li>Comparative Edoid: phonology and lexicon. (Delta Series No. 6.) - Ben Ohiọmamhẹ Elugbe</li>
				</ul>
			</p>
		 </section>
		</main>
		
	</body>
</html>
